html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  background-color: #f0eee8;
  line-height: 1.5;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.link-card p {
  margin: 0;
}

.link-card {
  text-decoration: none;
  color: #512200;
  background-color: #dcd4cd;
  padding: 1em;
  border: 3px solid #9a816d;
  border-radius: 8px;
  border-width: 3px;
  display: block;
  margin: 0;
}

.link-card:hover {
  background-color: #cabdb2;
}

dl {
  width: 100%;
  overflow: hidden;
  padding: 1rem;
  margin: 0;
  border-top: 2px solid #9a816d;
  border-bottom: 2px solid #9a816d;
}

dt {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
}

dd {
  float: left;
  width: 50%;
  padding: 0;
  margin: 0;
  font-style: italic;
}

.btn {
  display: inline-block;
  font-size: 1.125rem;
  padding: .4em .75em .5em;
  margin: 1em 0 0;
  background-color: #785439;
  border-radius: 8px;
  border-width: 3px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-family: Dosis, sans-serif;
  font-weight: bolder;
}

.btn:hover {
  background-color: #512200;
}

body {
  padding: 0;
}

div {
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}
